In [108]:
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd

In [109]:
df_narcan = pd.read_csv('data/Pharmacies_offering_Narcan__Evzio_and_other_brands_of_Naloxone.csv')
df_narcan.head()

,Pharmacy-Name,Phone,Credential,Location,Address,City,State,Zip,CredentialId
0,STOP & SHOP PHARMACY #621,(203) 262-4559,PCY.0002018,"100 MAIN ST N\nCT 06488-3839\n(41.479314, -73....",100 MAIN ST N,SOUTHBURY,CT,06488-3839,416692
1,SEYBRIDGE PHARMACY INC,203-888-0073,PCY.0001292,"37 NEW HAVEN RD\nCT 06483-3460\n(41.397075, -7...",37 NEW HAVEN RD,SEYMOUR,CT,06483-3460,38450
2,RITE AID #10371,(203) 488-8703,PCY.0001449,"280 BRANFORD RD\nCT 06471-9995\n(41.32508, -72...",280 BRANFORD RD,NORTH BRANFORD,CT,06471-9995,38899
3,CVS PHARMACY #798,(203) 790-9485,PCY.0001261,"299 WHITE ST\nCT 06810-6934\n(41.399293, -73.4...",299 WHITE ST # 305,DANBURY,CT,06810-6934,38436
4,WALGREENS #10483,(860) 440-3566,PCY.0001728,"698 BANK ST\nCT 06320-5040\n(41.349444, -72.10...",698 BANK ST,NEW LONDON,CT,06320-5040,222256

In [110]:
# Only Connecticut

print(df_narcan['State'].unique())

print(df_narcan['City'].nunique())

print(df_narcan['City'].value_counts())

['CT']
133
NEW HAVEN    25
HARTFORD     20
WATERBURY    20
NORWALK      17
STAMFORD     16
             ..
OXFORD        1
SUFFIELD      1
SHARON        1
SALEM         1
MOODUS        1
Name: City, Length: 133, dtype: int64

In [111]:
df_treatment = pd.read_csv('data/Opioid_Related_Treatment_Admissions_by_Town_in_Department_of_Mental_Health_and_Addiction_Services_Programs.csv')
df_treatment.head()

,FiscalYear,Town,Admissions,Unduplicated Clients,TownGeo
0,2012,Andover,NaN,NaN,"Andover, CT\n(41.728789, -72.370309)"
1,2014,Woodbridge,17.0,16.0,"Woodbridge, CT\n(41.352933, -73.014356)"
2,2014,Bozrah,13.0,11.0,"Bozrah, CT\n(41.544947, -72.175639)"
3,2014,Harwinton,28.0,13.0,"Harwinton, CT\n(41.771487, -73.059941)"
4,2015,Oxford,62.0,36.0,"Oxford, CT\n(41.434813, -73.117134)"

In [112]:
df_treatment.columns

Index(['FiscalYear', 'Town', 'Admissions', 'Unduplicated Clients', 'TownGeo'], dtype='object')

In [113]:
print(df_treatment['Town'].value_counts())

West Haven      5
Wolcott         5
New Milford     5
Bethany         5
Old Saybrook    5
               ..
New Canaan      5
Brookfield      5
Hartland        5
Haddam          5
Guilford        5
Name: Town, Length: 170, dtype: int64

In [114]:
print(df_treatment['FiscalYear'].nunique())

5

In [115]:
df_treatment['Unduplicated Clients'].describe()

count     789.000000
mean       95.897338
std       185.589788
min         0.000000
25%        16.000000
50%        35.000000
75%        84.000000
max      1394.000000
Name: Unduplicated Clients, dtype: float64