## Import Libraries

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import locale
from locale import atof

## Import Libraries

In [4]:
opioids = pd.read_csv('Yianni_data/opioids.csv')
overdoses = pd.read_csv('Yianni_data/overdoses.csv')
prescriber = pd.read_csv('Yianni_data/prescriber-info.csv')

In [5]:
opioids.head()

                        Drug Name                    Generic Name
0                         ABSTRAL                FENTANYL CITRATE
1           ACETAMINOPHEN-CODEINE      ACETAMINOPHEN WITH CODEINE
2                           ACTIQ                FENTANYL CITRATE
3             ASCOMP WITH CODEINE  CODEINE/BUTALBITAL/ASA/CAFFEIN
4  ASPIRIN-CAFFEINE-DIHYDROCODEIN  DIHYDROCODEINE/ASPIRIN/CAFFEIN

In [6]:
overdoses.head()

        State  Population Deaths Abbrev
0     Alabama   4,833,722    723     AL
1      Alaska     735,132    124     AK
2     Arizona   6,626,624  1,211     AZ
3    Arkansas   2,959,373    356     AR
4  California  38,332,521  4,521     CA

In [7]:
prescriber.head()

,NPI,Gender,State,Credentials,Specialty,ABILIFY,ACETAMINOPHEN.CODEINE,ACYCLOVIR,ADVAIR.DISKUS,AGGRENOX,...,VERAPAMIL.ER,VESICARE,VOLTAREN,VYTORIN,WARFARIN.SODIUM,XARELTO,ZETIA,ZIPRASIDONE.HCL,ZOLPIDEM.TARTRATE,Opioid.Prescriber
0,1710982582,M,TX,DDS,Dentist,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1245278100,F,AL,MD,General Surgery,0,0,0,0,0,...,0,0,0,0,0,0,0,0,35,1
2,1427182161,F,NY,M.D.,General Practice,0,0,0,0,0,...,0,0,0,0,0,0,0,0,25,0
3,1669567541,M,AZ,MD,Internal Medicine,0,43,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,1679650949,M,NV,M.D.,Hematology/Oncology,0,0,0,0,0,...,0,0,0,0,17,28,0,0,0,1

## Opioids Dataset

This dataset contains the names of all opioid drugs included in the data

In [8]:
opioids.columns

Index(['Drug Name', 'Generic Name'], dtype='object')

In [9]:
opioids['Drug Name'].value_counts()

HYDROMORPHONE HCL             2
MEPERIDINE HCL                2
MORPHINE SULFATE              2
DEMEROL                       2
DILAUDID                      2
                             ..
BELLADONNA-OPIUM              1
METHADONE INTENSOL            1
TRAMADOL HCL                  1
TRAMADOL HCL-ACETAMINOPHEN    1
ROXICODONE                    1
Name: Drug Name, Length: 108, dtype: int64

In [10]:
opioids['Generic Name'].value_counts()

HYDROCODONE/ACETAMINOPHEN         18
OXYCODONE HCL/ACETAMINOPHEN        7
TRAMADOL HCL                       6
METHADONE HCL                      5
OXYCODONE HCL                      5
HYDROCODONE/IBUPROFEN              5
FENTANYL CITRATE                   5
MORPHINE SULFATE                   5
ACETAMINOPHEN WITH CODEINE         4
HYDROMORPHONE HCL                  4
OXYMORPHONE HCL                    4
OXYCODONE HCL/ASPIRIN              3
FENTANYL                           3
CODEINE/BUTALBITAL/ASA/CAFFEIN     3
MORPHINE SULFATE/PF                3
MEPERIDINE HCL                     3
HYDROMORPHONE HCL/PF               3
BUTALBIT/ACETAMIN/CAFF/CODEINE     3
DIHYDROCODEINE/ASPIRIN/CAFFEIN     2
MEPERIDINE HCL/PF                  2
TRAMADOL HCL/ACETAMINOPHEN         2
CODEINE/CARISOPRODOL/ASPIRIN       2
TAPENTADOL HCL                     2
PENTAZOCINE HCL/NALOXONE HCL       1
PENTAZOCINE LACTATE                1
LEVORPHANOL TARTRATE               1
BUPRENORPHINE HCL                  1
BUPRENORPHINE                      1
PENTAZOCINE HCL/ACETAMINOPHEN      1
OPIUM/BELLADONNA ALKALOIDS         1
CODEINE SULFATE                    1
BUTORPHANOL TARTRATE               1
HYDROCODONE BITARTRATE             1
OPIUM TINCTURE                     1
DHCODEINE BT/ACETAMINOPHN/CAFF     1
NALBUPHINE HCL                     1
IBUPROFEN/OXYCODONE HCL            1
Name: Generic Name, dtype: int64

## Overdoses Dataset

This dataset contains information on opioid related drug overdose fatalities

In [11]:
overdoses

             State  Population Deaths Abbrev
0          Alabama   4,833,722    723     AL
1           Alaska     735,132    124     AK
2          Arizona   6,626,624  1,211     AZ
3         Arkansas   2,959,373    356     AR
4       California  38,332,521  4,521     CA
5         Colorado   5,268,367    899     CO
6      Connecticut   3,596,080    623     CT
7         Delaware     925,749    189     DE
8          Florida  19,552,860  2,634     FL
9          Georgia   9,992,167  1,206     GA
10          Hawaii   1,404,054    157     HI
11           Idaho   1,612,136    212     ID
12        Illinois  12,882,135  1,705     IL
13         Indiana   6,570,902  1,172     IN
14            Iowa   3,090,416    264     IA
15          Kansas   2,893,957    332     KS
16        Kentucky   4,395,295  1,077     KY
17       Louisiana   4,625,470    777     LA
18           Maine   1,328,302    216     ME
19        Maryland   5,928,814  1,070     MD
20   Massachusetts   6,692,824  1,289     MA
21        Michigan   9,895,622  1,762     MI
22       Minnesota   5,420,380    517     MN
23     Mississippi   2,991,207    336     MS
24        Missouri   6,044,171  1,067     MO
25         Montana   1,015,165    125     MT
26        Nebraska   1,868,516    125     NE
27          Nevada   2,790,136    545     NV
28   New Hampshire   1,323,459    334     NH
29      New Jersey   8,899,339  1,253     NJ
30      New Mexico   2,085,287    547     NM
31        New York  19,651,127  2,300     NY
32  North Carolina   9,848,060  1,358     NC
33    North Dakota     723,393     43     ND
34            Ohio  11,570,808  2,744     OH
35        Oklahoma   3,850,568    777     OK
36          Oregon   3,930,065    522     OR
37    Pennsylvania  12,773,801  2,732     PA
38    Rhode Island   1,051,511    247     RI
39  South Carolina   4,774,839    701     SC
40    South Dakota     844,877     63     SD
41       Tennessee   6,495,978  1,269     TN
42           Texas  26,448,193  2,601     TX
43            Utah   2,900,872    603     UT
44         Vermont     626,630     83     VT
45        Virginia   8,260,405    980     VA
46      Washington   6,971,406    979     WA
47   West Virginia   1,854,304    627     WV
48       Wisconsin   5,742,713    853     WI
49         Wyoming     582,658    109     WY

### Cleaning + EDA

In [12]:
overdoses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   State       50 non-null     object
 1   Population  50 non-null     object
 2   Deaths      50 non-null     object
 3   Abbrev      50 non-null     object
dtypes: object(4)
memory usage: 1.7+ KB

In [13]:
overdoses['Deaths'] = overdoses['Deaths'].astype(str)

In [14]:
#Converting the Deaths total to a integer 
locale.setlocale(locale.LC_NUMERIC, '')
overdoses['Deaths'] = overdoses['Deaths'].apply(atof)

In [15]:
overdoses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   State       50 non-null     object
 1   Population  50 non-null     object
 2   Deaths      50 non-null     float64
 3   Abbrev      50 non-null     object
dtypes: float64(1), object(3)
memory usage: 1.7+ KB

In [16]:
overdoses.head()

        State  Population  Deaths Abbrev
0     Alabama   4,833,722   723.0     AL
1      Alaska     735,132   124.0     AK
2     Arizona   6,626,624  1211.0     AZ
3    Arkansas   2,959,373   356.0     AR
4  California  38,332,521  4521.0     CA

## Prescriber Dataset

In [17]:
prescriber.head()

,NPI,Gender,State,Credentials,Specialty,ABILIFY,ACETAMINOPHEN.CODEINE,ACYCLOVIR,ADVAIR.DISKUS,AGGRENOX,...,VERAPAMIL.ER,VESICARE,VOLTAREN,VYTORIN,WARFARIN.SODIUM,XARELTO,ZETIA,ZIPRASIDONE.HCL,ZOLPIDEM.TARTRATE,Opioid.Prescriber
0,1710982582,M,TX,DDS,Dentist,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1245278100,F,AL,MD,General Surgery,0,0,0,0,0,...,0,0,0,0,0,0,0,0,35,1
2,1427182161,F,NY,M.D.,General Practice,0,0,0,0,0,...,0,0,0,0,0,0,0,0,25,0
3,1669567541,M,AZ,MD,Internal Medicine,0,43,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,1679650949,M,NV,M.D.,Hematology/Oncology,0,0,0,0,0,...,0,0,0,0,17,28,0,0,0,1

In [18]:
prescriber['State'].value_counts()

CA    2562
NY    1956
FL    1570
TX    1500
PA    1211
IL    1002
OH     981
MI     872
NC     778
MA     725
NJ     649
GA     613
WA     578
VA     568
TN     552
IN     533
AZ     509
MD     509
WI     498
MO     483
MN     448
CO     393
SC     390
CT     388
KY     367
LA     354
AL     344
OR     344
OK     281
PR     231
IA     225
AR     216
KS     203
WV     199
MS     193
NM     166
UT     162
NV     155
ME     147
NE     137
ID     133
NH     119
RI     117
HI      91
DE      91
SD      83
DC      79
MT      77
ND      66
VT      65
AK      39
WY      38
VI       3
AE       2
GU       2
ZZ       2
AA       1
Name: State, dtype: int64

## Action Plan

* Drop the Speciality column from prescriber dataset
* Prescriber Dataset - Group By State Column 
* Combine overdoses dataset with the Prescriber dataset, using the State as the index
* Develop Machine Learning Models

In [19]:
prescriber.drop('Specialty',axis =1 ,inplace = True)

In [20]:
prescriber.drop(['NPI','Gender','Credentials'],axis = 1, inplace = True)

In [21]:
prescriber.head()

,State,ABILIFY,ACETAMINOPHEN.CODEINE,ACYCLOVIR,ADVAIR.DISKUS,AGGRENOX,ALENDRONATE.SODIUM,ALLOPURINOL,ALPRAZOLAM,AMIODARONE.HCL,...,VERAPAMIL.ER,VESICARE,VOLTAREN,VYTORIN,WARFARIN.SODIUM,XARELTO,ZETIA,ZIPRASIDONE.HCL,ZOLPIDEM.TARTRATE,Opioid.Prescriber
0,TX,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,AL,0,0,0,0,0,0,0,134,0,...,0,0,0,0,0,0,0,0,35,1
2,NY,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,25,0
3,AZ,0,43,0,0,0,21,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,NV,0,0,0,0,0,0,0,0,0,...,0,0,0,0,17,28,0,0,0,1

In [22]:
overdoses.drop(['State','Population'],axis =1,inplace = True)

In [23]:
overdoses.head()

   Deaths Abbrev
0   723.0     AL
1   124.0     AK
2  1211.0     AZ
3   356.0     AR
4  4521.0     CA

In [24]:
test = prescriber.groupby(by = 'State')

In [25]:
state_df = prescriber.groupby('State').sum()

In [26]:
state_df

,ABILIFY,ACETAMINOPHEN.CODEINE,ACYCLOVIR,ADVAIR.DISKUS,AGGRENOX,ALENDRONATE.SODIUM,ALLOPURINOL,ALPRAZOLAM,AMIODARONE.HCL,AMITRIPTYLINE.HCL,...,VERAPAMIL.ER,VESICARE,VOLTAREN,VYTORIN,WARFARIN.SODIUM,XARELTO,ZETIA,ZIPRASIDONE.HCL,ZOLPIDEM.TARTRATE,Opioid.Prescriber
State,,,,,,,,,,,,,,,,,,,,,
AA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AE,0,0,0,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,15,2
AK,11,11,0,70,46,87,36,90,0,43,...,11,13,29,0,162,16,30,111,136,27
AL,1033,920,661,3335,395,3303,6682,12344,2027,3416,...,1857,1196,1123,700,9376,3174,2985,320,7632,244
AR,1373,580,325,1392,279,1819,2639,5055,842,2073,...,616,1087,375,237,5064,772,1150,421,3744,159
AZ,638,1102,1166,3041,28,4645,3443,5025,949,2291,...,878,690,890,538,7135,1500,1390,325,4605,331
CA,8621,9133,4133,15647,1385,37710,21433,24925,6326,7657,...,3710,4791,8997,1531,37906,5985,8431,4094,28895,1462
CO,424,478,627,1444,75,2243,1968,1551,192,885,...,316,248,503,123,5464,501,437,183,2051,256
CT,2350,523,277,2142,207,1297,2305,3706,472,583,...,461,597,469,218,7830,826,1406,561,3496,202
DC,162,162,98,140,0,99,79,94,93,119,...,11,21,24,27,276,101,38,96,236,35
DE,53,345,92,635,22,511,569,1421,334,126,...,190,264,29,132,1480,561,427,28,767,51
FL,4852,2917,2668,12836,1141,17557,13908,44165,3560,5546,...,3410,3738,11890,1497,24276,7881,7195,2078,20720,875
GA,1477,1211,872,5235,993,5054,9632,13752,1961,4372,...,2245,1402,2625,620,11811,2381,3840,1214,12652,398
GU,0,17,0,0,0,0,14,11,0,0,...,0,0,0,0,0,0,0,0,0,1
HI,136,203,143,1241,76,1442,1562,478,70,120,...,62,69,166,37,942,48,115,111,761,47
IA,1079,284,200,2047,191,2771,2355,3329,392,1551,...,477,774,96,101,6524,362,1081,277,2295,120
ID,742,121,67,569,36,546,624,1415,43,530,...,172,246,93,34,1946,103,135,242,1411,88
IL,2568,3417,653,6220,646,6984,9234,12791,2222,4014,...,1751,2418,1130,500,25505,3623,3736,951,7385,555
IN,1721,1188,617,4636,498,5346,6893,11444,1848,3270,...,1844,1661,1464,626,21376,2964,2936,472,6147,324
KS,745,311,199,1015,121,1778,1871,2913,450,1200,...,354,537,412,164,5807,546,772,284,1960,129
KY,1067,877,213,2830,462,3030,4154,6385,1763,3650,...,1205,936,619,467,8520,2003,2428,262,3367,198
LA,1199,742,116,2989,584,3019,5182,11687,1685,3214,...,710,1498,1358,419,6267,2612,2054,687,5787,224
MA,4347,1382,384,4049,654,4702,4835,11446,973,2699,...,959,875,452,53,21603,920,1585,1380,8430,369
MD,475,1098,391,3165,118,1800,2733,4178,883,786,...,420,688,979,470,6062,824,1068,152,3386,303
ME,361,218,80,1873,35,607,1031,1076,48,868,...,161,229,108,24,3178,104,429,370,1093,94
MI,3012,4821,633,6151,338,5065,6551,23572,1998,3308,...,1851,1643,1761,650,12149,2665,2798,584,7185,554
MN,2199,814,241,2946,423,4558,4406,2244,588,1947,...,428,638,305,183,10725,648,1278,378,3137,259
MO,1414,795,685,2971,290,3376,5356,11305,1272,2963,...,1095,1222,568,363,9900,1395,1734,156,5460,288
MS,836,335,248,1139,372,1852,3831,3953,1303,1422,...,942,788,576,302,4897,585,1688,142,3144,130
MT,73,199,143,630,11,484,981,397,73,446,...,96,173,122,61,2225,163,263,99,725,55
NC,1974,921,741,6065,839,5855,9869,20091,2526,5613,...,2126,2233,1852,1019,13544,4037,4683,905,15065,498
ND,106,144,84,657,62,854,1013,534,163,378,...,239,132,61,52,1834,94,288,52,485,39
NE,603,199,54,848,146,815,1150,1295,277,561,...,210,645,60,75,3307,267,398,93,994,81
NH,406,0,97,759,28,493,758,1004,90,567,...,172,104,110,34,1488,83,213,149,1239,72
NJ,1595,1512,406,6119,405,5231,4449,10320,2181,878,...,1065,1552,2515,708,11162,2611,3344,398,7603,344
NM,783,252,128,878,32,1140,794,1167,53,452,...,95,96,125,0,1078,125,146,227,1167,99
NV,645,232,333,843,68,2601,1956,3863,383,725,...,584,335,268,166,2080,485,857,317,2618,108
NY,6191,4154,1150,16785,1374,17080,13840,15296,2812,4740,...,3097,4305,7203,1536,32549,5846,6810,1540,24143,875
OH,4432,1835,1060,6456,516,8931,10715,16843,2823,4596,...,2127,1851,1153,722,23237,3558,5067,1423,10712,563
OK,406,554,485,2080,166,2152,2343,4049,1107,1581,...,892,518,723,196,3741,1598,1147,163,3650,205
OR,889,669,678,2266,245,2744,2931,2408,616,1366,...,432,533,439,133,6712,293,480,464,2383,220
PA,3883,2917,596,11329,1205,10067,12127,19763,2858,4118,...,3492,3567,2524,1321,30417,5508,7900,1423,11488,679
PR,493,766,79,872,113,5968,2705,5011,407,1629,...,4082,0,1032,609,2480,983,1394,127,7379,143
RI,221,147,97,1429,213,1080,1156,1534,127,485,...,559,171,169,16,4654,245,393,19,991,74
SC,813,427,637,2619,636,2690,5369,9340,1671,2517,...,1444,1120,993,428,6712,2916,2148,473,5985,258
SD,742,194,29,523,46,1030,647,721,147,534,...,267,335,0,67,2639,176,214,181,784,43
TN,1486,1362,767,3468,295,5141,6762,16565,1440,3640,...,1393,2277,658,618,11460,1532,2660,507,7951,358
TX,4614,4868,1213,8734,913,14038,12304,25560,4270,6666,...,2626,3978,3805,1313,17669,5287,5200,1412,18466,949
UT,184,96,141,595,0,1132,642,1441,55,515,...,117,333,125,38,1052,146,101,151,1923,107
VA,1549,1177,305,2899,410,3341,4403,9579,1122,2987,...,1052,631,1097,286,9842,1280,2208,571,5411,342
VI,0,0,12,12,0,48,30,21,0,0,...,0,0,0,0,52,0,0,0,13,3
VT,330,22,85,443,0,228,214,375,28,279,...,52,208,0,16,1021,142,147,56,622,40
WA,1166,946,627,2812,296,3645,4170,4045,820,1595,...,719,730,597,175,10650,1328,630,643,4244,365
WI,1662,1163,542,4103,230,4579,4928,4985,959,1774,...,881,1180,827,206,16038,1025,2387,361,4326,292
WV,657,373,46,1753,36,1199,2233,6241,512,1200,...,581,556,220,321,5267,710,1415,330,2665,126
WY,131,126,18,279,11,304,828,400,57,184,...,165,122,71,24,860,168,113,23,399,24
ZZ,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [27]:
state_df.drop(['ZZ','AA','AE'],inplace = True, axis = 0)
state_df

,ABILIFY,ACETAMINOPHEN.CODEINE,ACYCLOVIR,ADVAIR.DISKUS,AGGRENOX,ALENDRONATE.SODIUM,ALLOPURINOL,ALPRAZOLAM,AMIODARONE.HCL,AMITRIPTYLINE.HCL,...,VERAPAMIL.ER,VESICARE,VOLTAREN,VYTORIN,WARFARIN.SODIUM,XARELTO,ZETIA,ZIPRASIDONE.HCL,ZOLPIDEM.TARTRATE,Opioid.Prescriber
State,,,,,,,,,,,,,,,,,,,,,
AK,11,11,0,70,46,87,36,90,0,43,...,11,13,29,0,162,16,30,111,136,27
AL,1033,920,661,3335,395,3303,6682,12344,2027,3416,...,1857,1196,1123,700,9376,3174,2985,320,7632,244
AR,1373,580,325,1392,279,1819,2639,5055,842,2073,...,616,1087,375,237,5064,772,1150,421,3744,159
AZ,638,1102,1166,3041,28,4645,3443,5025,949,2291,...,878,690,890,538,7135,1500,1390,325,4605,331
CA,8621,9133,4133,15647,1385,37710,21433,24925,6326,7657,...,3710,4791,8997,1531,37906,5985,8431,4094,28895,1462
CO,424,478,627,1444,75,2243,1968,1551,192,885,...,316,248,503,123,5464,501,437,183,2051,256
CT,2350,523,277,2142,207,1297,2305,3706,472,583,...,461,597,469,218,7830,826,1406,561,3496,202
DC,162,162,98,140,0,99,79,94,93,119,...,11,21,24,27,276,101,38,96,236,35
DE,53,345,92,635,22,511,569,1421,334,126,...,190,264,29,132,1480,561,427,28,767,51
FL,4852,2917,2668,12836,1141,17557,13908,44165,3560,5546,...,3410,3738,11890,1497,24276,7881,7195,2078,20720,875
GA,1477,1211,872,5235,993,5054,9632,13752,1961,4372,...,2245,1402,2625,620,11811,2381,3840,1214,12652,398
GU,0,17,0,0,0,0,14,11,0,0,...,0,0,0,0,0,0,0,0,0,1
HI,136,203,143,1241,76,1442,1562,478,70,120,...,62,69,166,37,942,48,115,111,761,47
IA,1079,284,200,2047,191,2771,2355,3329,392,1551,...,477,774,96,101,6524,362,1081,277,2295,120
ID,742,121,67,569,36,546,624,1415,43,530,...,172,246,93,34,1946,103,135,242,1411,88
IL,2568,3417,653,6220,646,6984,9234,12791,2222,4014,...,1751,2418,1130,500,25505,3623,3736,951,7385,555
IN,1721,1188,617,4636,498,5346,6893,11444,1848,3270,...,1844,1661,1464,626,21376,2964,2936,472,6147,324
KS,745,311,199,1015,121,1778,1871,2913,450,1200,...,354,537,412,164,5807,546,772,284,1960,129
KY,1067,877,213,2830,462,3030,4154,6385,1763,3650,...,1205,936,619,467,8520,2003,2428,262,3367,198
LA,1199,742,116,2989,584,3019,5182,11687,1685,3214,...,710,1498,1358,419,6267,2612,2054,687,5787,224
MA,4347,1382,384,4049,654,4702,4835,11446,973,2699,...,959,875,452,53,21603,920,1585,1380,8430,369
MD,475,1098,391,3165,118,1800,2733,4178,883,786,...,420,688,979,470,6062,824,1068,152,3386,303
ME,361,218,80,1873,35,607,1031,1076,48,868,...,161,229,108,24,3178,104,429,370,1093,94
MI,3012,4821,633,6151,338,5065,6551,23572,1998,3308,...,1851,1643,1761,650,12149,2665,2798,584,7185,554
MN,2199,814,241,2946,423,4558,4406,2244,588,1947,...,428,638,305,183,10725,648,1278,378,3137,259
MO,1414,795,685,2971,290,3376,5356,11305,1272,2963,...,1095,1222,568,363,9900,1395,1734,156,5460,288
MS,836,335,248,1139,372,1852,3831,3953,1303,1422,...,942,788,576,302,4897,585,1688,142,3144,130
MT,73,199,143,630,11,484,981,397,73,446,...,96,173,122,61,2225,163,263,99,725,55
NC,1974,921,741,6065,839,5855,9869,20091,2526,5613,...,2126,2233,1852,1019,13544,4037,4683,905,15065,498
ND,106,144,84,657,62,854,1013,534,163,378,...,239,132,61,52,1834,94,288,52,485,39
NE,603,199,54,848,146,815,1150,1295,277,561,...,210,645,60,75,3307,267,398,93,994,81
NH,406,0,97,759,28,493,758,1004,90,567,...,172,104,110,34,1488,83,213,149,1239,72
NJ,1595,1512,406,6119,405,5231,4449,10320,2181,878,...,1065,1552,2515,708,11162,2611,3344,398,7603,344
NM,783,252,128,878,32,1140,794,1167,53,452,...,95,96,125,0,1078,125,146,227,1167,99
NV,645,232,333,843,68,2601,1956,3863,383,725,...,584,335,268,166,2080,485,857,317,2618,108
NY,6191,4154,1150,16785,1374,17080,13840,15296,2812,4740,...,3097,4305,7203,1536,32549,5846,6810,1540,24143,875
OH,4432,1835,1060,6456,516,8931,10715,16843,2823,4596,...,2127,1851,1153,722,23237,3558,5067,1423,10712,563
OK,406,554,485,2080,166,2152,2343,4049,1107,1581,...,892,518,723,196,3741,1598,1147,163,3650,205
OR,889,669,678,2266,245,2744,2931,2408,616,1366,...,432,533,439,133,6712,293,480,464,2383,220
PA,3883,2917,596,11329,1205,10067,12127,19763,2858,4118,...,3492,3567,2524,1321,30417,5508,7900,1423,11488,679
PR,493,766,79,872,113,5968,2705,5011,407,1629,...,4082,0,1032,609,2480,983,1394,127,7379,143
RI,221,147,97,1429,213,1080,1156,1534,127,485,...,559,171,169,16,4654,245,393,19,991,74
SC,813,427,637,2619,636,2690,5369,9340,1671,2517,...,1444,1120,993,428,6712,2916,2148,473,5985,258
SD,742,194,29,523,46,1030,647,721,147,534,...,267,335,0,67,2639,176,214,181,784,43
TN,1486,1362,767,3468,295,5141,6762,16565,1440,3640,...,1393,2277,658,618,11460,1532,2660,507,7951,358
TX,4614,4868,1213,8734,913,14038,12304,25560,4270,6666,...,2626,3978,3805,1313,17669,5287,5200,1412,18466,949
UT,184,96,141,595,0,1132,642,1441,55,515,...,117,333,125,38,1052,146,101,151,1923,107
VA,1549,1177,305,2899,410,3341,4403,9579,1122,2987,...,1052,631,1097,286,9842,1280,2208,571,5411,342
VI,0,0,12,12,0,48,30,21,0,0,...,0,0,0,0,52,0,0,0,13,3
VT,330,22,85,443,0,228,214,375,28,279,...,52,208,0,16,1021,142,147,56,622,40
WA,1166,946,627,2812,296,3645,4170,4045,820,1595,...,719,730,597,175,10650,1328,630,643,4244,365
WI,1662,1163,542,4103,230,4579,4928,4985,959,1774,...,881,1180,827,206,16038,1025,2387,361,4326,292
WV,657,373,46,1753,36,1199,2233,6241,512,1200,...,581,556,220,321,5267,710,1415,330,2665,126
WY,131,126,18,279,11,304,828,400,57,184,...,165,122,71,24,860,168,113,23,399,24

In [28]:
overdoses.set_index('Abbrev',inplace = True)
overdoses

        Deaths
Abbrev
AL       723.0
AK       124.0
AZ      1211.0
AR       356.0
CA      4521.0
CO       899.0
CT       623.0
DE       189.0
FL      2634.0
GA      1206.0
HI       157.0
ID       212.0
IL      1705.0
IN      1172.0
IA       264.0
KS       332.0
KY      1077.0
LA       777.0
ME       216.0
MD      1070.0
MA      1289.0
MI      1762.0
MN       517.0
MS       336.0
MO      1067.0
MT       125.0
NE       125.0
NV       545.0
NH       334.0
NJ      1253.0
NM       547.0
NY      2300.0
NC      1358.0
ND        43.0
OH      2744.0
OK       777.0
OR       522.0
PA      2732.0
RI       247.0
SC       701.0
SD        63.0
TN      1269.0
TX      2601.0
UT       603.0
VT        83.0
VA       980.0
WA       979.0
WV       627.0
WI       853.0
WY       109.0

### Combining Dataframes

In [29]:
df = pd.concat([state_df,overdoses],axis =1, join = 'inner')

In [30]:
df.to_csv('State_Level_Drug_List_and_Death_Count.csv')

## Modeling

In [31]:
df.head()

,ABILIFY,ACETAMINOPHEN.CODEINE,ACYCLOVIR,ADVAIR.DISKUS,AGGRENOX,ALENDRONATE.SODIUM,ALLOPURINOL,ALPRAZOLAM,AMIODARONE.HCL,AMITRIPTYLINE.HCL,...,VESICARE,VOLTAREN,VYTORIN,WARFARIN.SODIUM,XARELTO,ZETIA,ZIPRASIDONE.HCL,ZOLPIDEM.TARTRATE,Opioid.Prescriber,Deaths
AK,11,11,0,70,46,87,36,90,0,43,...,13,29,0,162,16,30,111,136,27,124.0
AL,1033,920,661,3335,395,3303,6682,12344,2027,3416,...,1196,1123,700,9376,3174,2985,320,7632,244,723.0
AR,1373,580,325,1392,279,1819,2639,5055,842,2073,...,1087,375,237,5064,772,1150,421,3744,159,356.0
AZ,638,1102,1166,3041,28,4645,3443,5025,949,2291,...,690,890,538,7135,1500,1390,325,4605,331,1211.0
CA,8621,9133,4133,15647,1385,37710,21433,24925,6326,7657,...,4791,8997,1531,37906,5985,8431,4094,28895,1462,4521.0

### Modeing Libraries

In [50]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score,mean_squared_error
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

plt.style.use('fivethirtyeight')

In [33]:
X = df.drop(['Deaths'],axis=1)
y = df['Deaths']

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

### Random Forest Regressor

In [35]:
#Initiate and fit the model
rfr = RandomForestRegressor()
rfr.fit(X_train, y_train)

RandomForestRegressor()

In [36]:
#Predict
rfr_pred = rfr.predict(X_test)

In [37]:
#root mean square error
rfr_mse = mean_squared_error(y_test, rfr_pred)
rt_rfr_mse = np.sqrt(rfr_mse)
rt_rfr_mse

617.9028739584837

In [38]:
#r2
rfr_r2 = r2_score(y_test, rfr_pred)
rfr_r2

0.7278748476066543

### Grid Search w/ Random Forest Regressor

In [39]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from pprint import pprint
# Create the parameter grid based on the results of random search 
param_grid = {
    'bootstrap': [True],
    'max_depth': [80, 90, 100, 110],
    'max_features': [2, 3],
    'min_samples_leaf': [3, 4, 5],
    'min_samples_split': [8, 10, 12],
    'n_estimators': [100, 200, 300, 1000]
}

In [74]:
n_estimators= [100, 200, 300, 1000]
max_features= [2, 3]

In [40]:
# Instantiate the grid search model
grid_search = GridSearchCV(estimator = rfr, param_grid = param_grid, 
                          cv = 3, n_jobs = -1, verbose = 2)

In [41]:
# Fit the grid search to the data
grid_search.fit(X_train, y_train)

Fitting 3 folds for each of 288 candidates, totalling 864 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done   9 tasks      | elapsed:    2.1s
[Parallel(n_jobs=-1)]: Done 130 tasks      | elapsed:    7.7s
[Parallel(n_jobs=-1)]: Done 333 tasks      | elapsed:   18.3s
[Parallel(n_jobs=-1)]: Done 616 tasks      | elapsed:   33.0s
[Parallel(n_jobs=-1)]: Done 864 out of 864 | elapsed:   47.2s finished

GridSearchCV(cv=3, estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'bootstrap': [True], 'max_depth': [80, 90, 100, 110],
                         'max_features': [2, 3], 'min_samples_leaf': [3, 4, 5],
                         'min_samples_split': [8, 10, 12],
                         'n_estimators': [100, 200, 300, 1000]},
             verbose=2)

In [42]:
grid_search.best_params_

{'bootstrap': True,
 'max_depth': 110,
 'max_features': 3,
 'min_samples_leaf': 3,
 'min_samples_split': 8,
 'n_estimators': 100}

In [43]:
def evaluate(model, test_features, test_labels):
    predictions = model.predict(test_features)
    errors = abs(predictions - test_labels)
    mape = 100 * np.mean(errors / test_labels)
    accuracy = 100 - mape
    print('Model Performance')
    print('Average Error: {:0.4f} degrees.'.format(np.mean(errors)))
    print('Accuracy = {:0.2f}%.'.format(accuracy))
    
    return accuracy

In [44]:
best_grid = grid_search.best_estimator_
grid_accuracy = evaluate(best_grid, X_test, y_test)

Model Performance
Average Error: 364.9244 degrees.
Accuracy = 64.65%.